#!/bin/bash

# Show the weather status notification after NeOS has started.
# To put it into use, remove .sample from this file name.

weather=$(neos-weather-status 2>/dev/null) || true

if [[ -n $weather && $weather != "Weather unavailable" ]]; then
  neos-notification-send -u low "$weather"
fi
