[Unit]
Description=NeOS Autoupdate Service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/neos-autoupdate.sh
ProtectHome=yes
PrivateTmp=yes
ProtectHostname=yes
RestrictRealtime=yes
LockPersonality=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX

[Install]
WantedBy=multi-user.target
