[Unit]
Description=NeOS Liveuser Setup
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/neos-liveuser-setup
# Sandboxing removed to allow system-level modifications like useradd


[Install]
WantedBy=multi-user.target
