[Desktop Entry]
Name=Install NeOS
GenericName=Live Installer
Comment=Install the operating system to disk
Exec=sudo calamares
Icon=system-software-install
Terminal=false
Type=Application
Categories=System;
