[Desktop Entry]
Name=Install NeOS
GenericName=System Installer
Comment=Install the operating system to disk
Exec=/usr/local/bin/neos-welcome
Icon=system-software-install
Terminal=false
Type=Application
Categories=System;
