[Desktop Entry]
Name=Install NeOS
GenericName=NeOS Installer
Comment=Install NeOS to your hard drive
Exec=/usr/local/bin/neos-welcome-app
Icon=calamares
Terminal=false
Type=Application
Categories=System;
