[Desktop Entry]
Name=Welcome to NeOS
GenericName=NeOS Welcome
Comment=Start the NeOS experience
Exec=/usr/local/bin/neos-welcome-app
Icon=system-software-install
Terminal=false
Type=Application
Categories=System;
