[Desktop Entry]
Version=1.0
Name=Discord
Exec=neos-launch-webapp https://discord.com/channels/@me
Terminal=false
Type=Application
Icon=neos-discord
StartupNotify=true
