[Desktop Entry]
Version=1.0
Name=Google Messages
Exec=neos-launch-webapp https://messages.google.com/web/conversations
Terminal=false
Type=Application
Icon=google-messages
StartupNotify=true
