[Unit]
Description=NeOS Liveuser Setup

[Service]
Type=oneshot
ExecStart=/usr/local/bin/neos-liveuser-setup
ProtectSystem=strict
NoNewPrivileges=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
