[Unit]
Description=NeOS Live User Setup
Before=sddm.service display-manager.service
ConditionPathIsDirectory=/run/archiso

[Service]
Type=oneshot
ExecStart=/usr/local/bin/neos-liveuser-setup
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
