[Unit]
Description=Timer for NeOS Automatic System Updates
Requires=neos-autoupdate.service

[Timer]
OnCalendar=weekly
OnBootSec=1h
Persistent=true

[Install]
WantedBy=timers.target
