[Desktop Entry]
Name=Welcome to NeOS
Comment=Welcome screen for NeOS installation media
Exec=/usr/local/bin/neos-welcome-app
Icon=calamares
Type=Application
Categories=System;
X-KDE-autostart-phase=2
NoDisplay=true
